.searchTags {
    display: flex;
    align-items: center;
    gap: 1rem;
    ul {
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 2%;
        // padding-top: 2%;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-height: 2.313rem;
            margin-top: 2%;
            // max-width: 6.688rem;
            padding: 1%;
            gap: 5%;
            border-radius: 5px;
            // background-color: $blue;
            h3{
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-right: 10px;
            }
            .tagBtn {
                min-height: 1.25rem;
                min-width: 1.25rem;
                color: white;
                background-color: transparent;
            }
        }
        li[data-type = 'ingredient']{
            background-color: $blue;
        }
        li[data-type = 'appliance']{
            background-color: $green;
        }
        li[data-type = 'ustensil']{
            background-color: $red;
        }
    }
}
