.searchFilters {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 2% 0;
    .filterBtn {
        min-height: 4.375rem;
        min-width: 10.625rem;
        border-radius: 0.313rem;
        color: white;
        margin-right: 3%;
        &:first-child{
            background-color: $blue;
        }
        &:nth-of-type(2){
            background-color: $green;
        }
        &:last-child{background-color: $red;}
        .searchControls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 4.375rem;
            padding-left: 3%;
            position: relative;
            .controlsInput {
                width: 6.25rem;
                color: white;
            }
            button {
                width: 3.125rem;
                height: 3.125rem;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 2%;
            min-width: 11.625rem;
            max-height: 20.5rem;
            padding: 0 3%;
            overflow-y: scroll;
            line-height: 1.125rem;
            li{
                text-transform: capitalize;
                
            }
        }
    }
}