aside {
    .inputSearch {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 4.375rem;
        width: 100%;
        background-color: $lightGrey;
        border-radius: 0.313rem;
        padding: 0 1.5rem;
        input {
            background-color: transparent;
            border: none;
            outline: transparent;
            font-family: "Lato", sans-serif;
            font-size: 1.125rem;
            font-weight: 400;
            width: 90%;
            height: 4.375rem;
        }
    }
}
.recettes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10% 0;
    grid-gap: 3.125rem;
    article {
        display: flex;
        flex-direction: column;
        min-width: 21.875rem;
        min-height: 22.5rem;
        .card-picture {
            min-height: 11.125rem;
            border-radius: 0.313rem 0.313rem 0 0;
            background-color: $grey;
        }
        .card-details {
            background-color: $lightGrey;
            border-radius: 0 0 0.313rem 0.313rem;
            min-width: 18.875rem;
            min-height: 11.625rem;
            .card-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                line-height: 1.5rem;
                height: fit-content;
                padding: 3% 3% 0 3%;
                h2 {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    max-width: calc(100% - 6.375rem);
                }
                .clock {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: 700;
                    img {
                        padding-right: 7px;
                    }
                }
            }
            .card-legend {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                padding: 3%;
                .ingredients {
                    width: 50%;
                    padding-right: 3%;
                    font-size: 0.7rem;
                }
                .instructions {
                    font-family: "Roboto";
                    font-size: 0.75rem;
                    width: 50%;
                    padding: 2%;
                    @include line-clamp(8, 0.9375rem);
                }
            }
        }
    }
}
.noResults {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .recettes {
        grid-template-columns: 1fr 1fr;
        grid-gap: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .recettes {
        grid-template-columns: 1fr;
        grid-gap: 2.5rem;
        padding: 40% 0;
    }
}

@media screen and (max-width: 425px) {
    .recettes {
        padding: 65% 0;
    }
}

